body {
  font-family: Arial;
  background: #f4f4f4;
}

.container {
  width: 80%;
  margin: auto;
  margin-top: 30px;
}

.form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.form input,
.form select {
  padding: 10px;
}

button {
  padding: 10px;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

table th,
table td {
  border: 1px solid #ccc;
  padding: 10px;
}

table th {
  background: #333;
  color: white;
}
